trunk/share/schema/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- (c) UML.FRI -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://umlfri.kst.fri.uniza.sk/xmlschema/config.xsd" targetNamespace="http://umlfri.kst.fri.uniza.sk/xmlschema/config.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Config">
		<xs:annotation>
			<xs:documentation>Scheme for XML Configuration file</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Styles">
					<xs:annotation>
						<xs:documentation>In this block is defined a style of elements as Element, Connection, Selection and Drag</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="Element">
								<xs:annotation>
									<xs:documentation>Styles for elements. Each of element has defined any settings as color of line, fill, shadow and other.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:all>
										<xs:element name="LineColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of line of element</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="FillColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define first color of fill of element</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Fill2Color" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define second color of fill of element</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Fill3Color" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define 3th color of fill of element</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ShadowColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of shadow</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NameTextColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of neme of element</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TextColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of text</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NameTextFont" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define font of text for name</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TextFont" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define font of text</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="Connection">
								<xs:annotation>
									<xs:documentation>Styles for connections. Each of connection has defined any settings as color of line, color of text, fill color etc</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:all>
										<xs:element name="LineColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of line of connection</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ArrowColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of arrow of connection</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ArrowFillColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of fill of arrow</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ArrowAngleSteps" type="xs:int">
											<xs:annotation>
												<xs:documentation>Define angle steps of arrow</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NameTextColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of text of name of connection</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TextColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of text of connection</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NameTextFont" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define font of text of name of connection</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TextFont" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define font of text of connection</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TextFill" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define fill of text of connection</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="MinimalAngle" type="xs:float">
											<xs:annotation>
												<xs:documentation>Define minimal angle of connection</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="Selection">
								<xs:annotation>
									<xs:documentation>Styles fo selections. Each selection of element has any attributes as size of pont or color of rectangle, etc.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:all>
										<xs:element name="PointsSize" type="xs:int">
											<xs:annotation>
												<xs:documentation>Define size fo points of selection</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PointsColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of points of selection</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RectangleColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of rectangle of selection</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RectangleWidth" type="xs:int">
											<xs:annotation>
												<xs:documentation>Define width of rectangle of selection</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="Drag">
								<xs:annotation>
									<xs:documentation>Styles for drag.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:all>
										<xs:element name="RectangleColor" type="xs:string">
											<xs:annotation>
												<xs:documentation>Define color of draged rectangle</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RectangleWidth" type="xs:int">
											<xs:annotation>
												<xs:documentation>Define width of draged rectangle</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			    <xs:element name="Grid">
				    <xs:annotation>
					    <xs:documentation>Settings for grid.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="Active" type="xs:boolean">
							    <xs:annotation>
							        <xs:documentation>Is grid active.</xs:documentation>
							    </xs:annotation>
							</xs:element>
							<xs:element name="Visible" type="xs:boolean">
							    <xs:annotation>
							        <xs:documentation>Is grid visible.</xs:documentation>
							    </xs:annotation>
							</xs:element>
							<xs:element name="ResizeElements" type="xs:boolean">
							    <xs:annotation>
							        <xs:documentation>Resize elements to grid.</xs:documentation>
							    </xs:annotation>
							</xs:element>
							<xs:element name="SnapBreakpoints" type="xs:boolean">
							    <xs:annotation>
							        <xs:documentation>Snap connection Breakpoints to grid.</xs:documentation>
							    </xs:annotation>
							</xs:element>
					        <xs:element name="LineColor1" type="xs:string">
    						    <xs:annotation>
	    						    <xs:documentation>Defines first line color.</xs:documentation>
	    						</xs:annotation>
							</xs:element>
							<xs:element name="LineColor2" type="xs:string">
							    <xs:annotation>
							        <xs:documentation>Defines second line color.</xs:documentation>
							    </xs:annotation>
							</xs:element>
							<xs:element name="HorSpacing" type="xs:int">
							    <xs:annotation>
							       <xs:documentation>Defines space between grid lines in pixels.</xs:documentation>
							    </xs:annotation>
							</xs:element>
							<xs:element name="VerSpacing" type="xs:int">
							    <xs:annotation>
							       <xs:documentation>Defines space between grid lines in pixels.</xs:documentation>
							    </xs:annotation>
							</xs:element>
							<xs:element name="LineWidth" type="xs:int">
							    <xs:annotation>
							        <xs:documentation>Defines line width of grid lines</xs:documentation>
							    </xs:annotation>
							</xs:element>
							<xs:element name="LineStyle1">
							    <xs:annotation>
							        <xs:documentation>Defines 1. line style 1 of grid lines</xs:documentation>
							    </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="none"/>
                                        <xs:enumeration value="solid"/>
                                        <xs:enumeration value="dot"/>
                                    </xs:restriction>
                                </xs:simpleType>
							</xs:element>
							<xs:element name="LineStyle2">
							    <xs:annotation>
							        <xs:documentation>Defines 2. line style2 of grid lines</xs:documentation>
							    </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="none"/>
                                        <xs:enumeration value="solid"/>
                                        <xs:enumeration value="dot"/>
                                    </xs:restriction>
                                </xs:simpleType>
							</xs:element>
							<xs:element name="SnapMode">
							    <xs:annotation>
							        <xs:documentation>Defines point to which elements will be snaped</xs:documentation>
							    </xs:annotation>
							    <xs:simpleType>
							        <xs:restriction base="xs:string">
							            <xs:enumeration value="TOP_LEFT"/>
							            <xs:enumeration value="CENTER"/>
							            <xs:enumeration value="CORNERS"/>
							        </xs:restriction>
							    </xs:simpleType>
							</xs:element>
					    </xs:all>
				    </xs:complexType>
				</xs:element>
				<xs:element name="Page">
					<xs:annotation>
						<xs:documentation>This block describe options for page</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="Width" type="xs:int">
								<xs:annotation>
									<xs:documentation>Define width of page</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Height" type="xs:int">
								<xs:annotation>
									<xs:documentation>Define height of page</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
