trunk/share/schema/umlproject_1.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- (c) UML.FRI -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://umlfri.kst.fri.uniza.sk/xmlschema/umlproject.xsd" targetNamespace="http://umlfri.kst.fri.uniza.sk/xmlschema/umlproject.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="umlproject">
		<xs:annotation>
			<xs:documentation>save content for UML.FRI diagrams</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="metamodel">
					<xs:annotation>
						<xs:documentation>In this block, metamodel is defined. E.g. uri and version are defined. </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="uri" type="xs:string"/>
							<xs:element name="version" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="objects">
					<xs:annotation>
						<xs:documentation>In this block all object (element) are defined</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="object" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Define any object (element) used in the project.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="optionType">
											<xs:sequence>
												<xs:element name="dict" type="dictType"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="connections">
					<xs:annotation>
						<xs:documentation>In this block all connections are defined</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="connection" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="connectionType">
											<xs:sequence>
												<xs:element name="dict" type="dictType"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="diagrams">
					<xs:annotation>
						<xs:documentation>In this block all diagrams are defined</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="diagram" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dict" type="dictType" />
									</xs:sequence>
									<xs:attribute name="id" type="xs:int" use="required" />
									<xs:attribute name="type" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="projecttree">
					<xs:annotation>
						<xs:documentation>This block define tree of project</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="node" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="nodeType"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="counters">
					<xs:annotation>
						<xs:documentation>Define counters</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="count" type="countType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="saveversion" type="xs:string" use="required" fixed="1.1.0">
				<xs:annotation>
					<xs:documentation>Specify a version of save of UML .FRI document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="nodeType">
		<xs:annotation>
			<xs:documentation>type of Node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="childs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="node" type="nodeType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="diagrams" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="diagram" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="diagramType">
										<xs:sequence>
											<xs:element name="element" type="elementType" minOccurs="0" maxOccurs="unbounded"/>
											<xs:element name="connection" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="point" minOccurs="0" maxOccurs="unbounded">
															<xs:complexType>
																<xs:attribute name="x" type="xs:integer" use="required"/>
																<xs:attribute name="y" type="xs:integer" use="required"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="label" type="labelType" minOccurs="0" maxOccurs="unbounded"/>
													</xs:sequence>
													<xs:attribute name="id" type="xs:integer" use="required"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="diagramType">
		<xs:annotation>
			<xs:documentation>type of Diagram</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:int" use="required" />
		<xs:attribute name="default" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="elementType">
		<xs:annotation>
			<xs:documentation>type of Element</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="x" type="xs:integer" use="required"/>
		<xs:attribute name="y" type="xs:integer" use="required"/>
		<xs:attribute name="dw" type="xs:integer" use="required"/>
		<xs:attribute name="dh" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="labelType">
		<xs:annotation>
			<xs:documentation>type of Label</xs:documentation>
		</xs:annotation>
		<xs:attribute name="num" type="xs:integer" use="required"/>
		<xs:attribute name="idx" type="xs:integer" use="required"/>
		<xs:attribute name="pos" type="xs:float" use="required"/>
		<xs:attribute name="dist" type="xs:float" use="required"/>
		<xs:attribute name="angle" type="xs:float" use="required"/>
	</xs:complexType>
	<xs:complexType name="listType">
		<xs:annotation>
			<xs:documentation>type of List. List store information about attributes or operations...</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="dict" type="dictType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="text" type="textType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="textType" mixed="true">
		<xs:annotation>
			<xs:documentation>type of Text</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>name attribute is not required</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="dictType">
		<xs:annotation>
			<xs:documentation>type of Dict</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="list" type="listType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="text" type="textType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dict" type="dictType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="connectionType">
		<xs:annotation>
			<xs:documentation>type of Connection</xs:documentation>
		</xs:annotation>
		<xs:attribute name="source" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Define source of connection</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="destination" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Define destination of connection</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Define type of connection</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Define ID of connection</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="optionType">
		<xs:annotation>
			<xs:documentation>type of Option</xs:documentation>
		</xs:annotation>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Type atribute is required for each object of project. Type can be "Package", "Class", ...</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Id define unique number for object</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="countType">
		<xs:annotation>
			<xs:documentation>type of Count</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Define id of counter</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Define value of counter</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
