share/schema/umlproject_1.3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- (c) UML.FRI -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://umlfri.kst.fri.uniza.sk/xmlschema/umlproject.xsd" targetNamespace="http://umlfri.kst.fri.uniza.sk/xmlschema/umlproject.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="umlproject">
		<xs:annotation>
			<xs:documentation>save content for UML.FRI diagrams</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="metamodel">
					<xs:annotation>
						<xs:documentation>In this block, metamodel is defined. E.g. uri and version are defined. </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="uri" type="xs:string"/>
							<xs:element name="version" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
                <xs:element name="domain">
                    <xs:annotation>
                        <xs:documentation>Project's domain object.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dict" type="dictType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="modificationbundles">
					<xs:annotation>
						<xs:documentation>In this block modification bundles are defined</xs:documentation>
					</xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="element" type="modificationBundleRootType" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
				<xs:element name="objects">
					<xs:annotation>
						<xs:documentation>In this block all object (element) are defined</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="object" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Define any object (element) used in the project.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="optionType">
											<xs:sequence>
												<xs:element name="dict" type="dictType"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="connections">
					<xs:annotation>
						<xs:documentation>In this block all connections are defined</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="connection" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="connectionType">
											<xs:sequence>
												<xs:element name="dict" type="dictType"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="diagrams">
					<xs:annotation>
						<xs:documentation>In this block all diagrams are defined</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="diagram" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dict" type="dictType" />
									</xs:sequence>
									<xs:attribute name="id" type="xs:string" use="required" />
									<xs:attribute name="type" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="projecttree">
					<xs:annotation>
						<xs:documentation>This block define tree of project</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="node" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="nodeType"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="counters">
					<xs:annotation>
						<xs:documentation>Define counters</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="count" type="countType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="saveversion" type="xs:string" use="required" fixed="1.3.0">
				<xs:annotation>
					<xs:documentation>Specify a version of save of UML .FRI document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
    <xs:complexType name="modificationBundleRootType">
		<xs:annotation>
			<xs:documentation>type of metamodel modification bundle root</xs:documentation>
		</xs:annotation>
        <xs:sequence>
            <xs:element name="bundle" type="modificationBundleType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="modificationBundleType">
		<xs:annotation>
			<xs:documentation>type of metamodel modification bundle</xs:documentation>
		</xs:annotation>
        <xs:sequence>
            <xs:element name="element" type="elementModificationType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="elementModificationType">
		<xs:annotation>
			<xs:documentation>type of element modification</xs:documentation>
		</xs:annotation>
        <xs:sequence>
            <xs:element name="domain" type="domainModificationType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="domainModificationType">
		<xs:annotation>
			<xs:documentation>type of domain modification</xs:documentation>
		</xs:annotation>
        <xs:sequence>
            <xs:element ref="replaceattribute" minOccurs="0" maxOccurs="unbounded" />
            <xs:element ref="deleteattribute" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="domainAttributeModificationType" abstract="true">
        <xs:annotation>
			<xs:documentation>type of domain attribute modification</xs:documentation>
		</xs:annotation>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:element name="replaceattribute">
        <xs:annotation>
			<xs:documentation>Replace modification of domain attribute.</xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="domainAttributeModificationType">
                    <xs:choice>
                        <xs:choice />
                        <xs:element name="Color" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:attribute name="default" type="xs:string" use="optional"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Font" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:attribute name="default" type="xs:string" use="optional"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Int" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Min" minOccurs="0" maxOccurs="1"/>
                                    <xs:element name="Max" minOccurs="0" maxOccurs="1"/>
                                    <xs:element name="Enum" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="default" type="xs:integer" use="optional"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Float" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Min" minOccurs="0" maxOccurs="1"/>
                                    <xs:element name="Max" minOccurs="0" maxOccurs="1"/>
                                    <xs:element name="Enum" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="default" type="xs:float" use="optional"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Bool" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:attribute name="default" use="optional">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="True"/>
                                            <xs:enumeration value="False"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Text" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Restriction" minOccurs="0" maxOccurs="1"/>
                                </xs:sequence>
                                <xs:attribute name="default" type="xs:string" use="optional"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Str" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Restriction" minOccurs="0" maxOccurs="1"/>
                                    <xs:element name="Enum" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="default" type="xs:string" use="optional"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Enum" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attribute name="default" type="xs:string" use="optional"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="hidden" type="xs:boolean" use="optional" default="false"/>
                    <xs:attribute name="type" type="xs:string" use="optional"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
	<xs:complexType name="nodeType">
		<xs:annotation>
			<xs:documentation>type of Node</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="childs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="node" type="nodeType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="diagrams" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="diagram" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="diagramType">
										<xs:sequence>
											<xs:element name="element" type="elementType" minOccurs="0" maxOccurs="unbounded" />
											<xs:element name="connection" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="point" minOccurs="0" maxOccurs="unbounded">
															<xs:complexType>
																<xs:attribute name="x" type="xs:integer" use="required"/>
																<xs:attribute name="y" type="xs:integer" use="required"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="label" type="conLabelType" minOccurs="0" maxOccurs="unbounded"/>
													</xs:sequence>
													<xs:attribute name="id" type="xs:string" use="required"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
    <xs:element name="deleteattribute">
        <xs:annotation>
            <xs:documentation>Delete modification of domain attribute.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="domainAttributeModificationType" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="diagramType">
		<xs:annotation>
			<xs:documentation>type of Diagram</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required" />
		<xs:attribute name="default" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="elementType">
		<xs:annotation>
			<xs:documentation>type of Element</xs:documentation>
		</xs:annotation>
        <xs:sequence>
            <xs:element name="label" type="elementLabelType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="x" type="xs:integer" use="required"/>
		<xs:attribute name="y" type="xs:integer" use="required"/>
		<xs:attribute name="dw" type="xs:integer" use="required"/>
		<xs:attribute name="dh" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="elementLabelType">
		<xs:annotation>
			<xs:documentation>type of element Label</xs:documentation>
		</xs:annotation>
		<xs:attribute name="num" type="xs:integer" use="required"/>
		<xs:attribute name="dist" type="xs:float" use="required"/>
		<xs:attribute name="angle" type="xs:float" use="required"/>
	</xs:complexType>
	<xs:complexType name="conLabelType">
		<xs:annotation>
			<xs:documentation>type of connection Label</xs:documentation>
		</xs:annotation>
		<xs:attribute name="num" type="xs:integer" use="required"/>
		<xs:attribute name="idx" type="xs:integer" use="required"/>
		<xs:attribute name="pos" type="xs:float" use="required"/>
		<xs:attribute name="dist" type="xs:float" use="required"/>
		<xs:attribute name="angle" type="xs:float" use="required"/>
	</xs:complexType>
	<xs:complexType name="listType">
		<xs:annotation>
			<xs:documentation>type of List. List store information about attributes or operations...</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="dict" type="dictType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="text" type="textType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="textType" mixed="true">
		<xs:annotation>
			<xs:documentation>type of Text</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>name attribute is not required</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="dictType">
		<xs:annotation>
			<xs:documentation>type of Dict</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="list" type="listType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="text" type="textType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dict" type="dictType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="connectionType">
		<xs:annotation>
			<xs:documentation>type of Connection</xs:documentation>
		</xs:annotation>
		<xs:attribute name="source" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Define source of connection</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="destination" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Define destination of connection</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Define type of connection</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Define ID of connection</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="optionType">
		<xs:annotation>
			<xs:documentation>type of Option</xs:documentation>
		</xs:annotation>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Type atribute is required for each object of project. Type can be "Package", "Class", ...</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Id define unique number for object</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="countType">
		<xs:annotation>
			<xs:documentation>type of Count</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Define id of counter</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Define value of counter</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
